<div class="col-md-12" >
    <div class="table-card">
        <table class="table table-stripedd table-sm table-bordered">
            <thead class="table-head">
                <tr>
                    <th>comments</th>
                    <th>Date</th>
                    <th>Actions</th>
                      </tr>
            </thead>

            <tbody>
                <tr *ngFor="let comment of comments; let i = index">
                    <td>{{comment.commentDetails}}</td>
                    <td>{{comment.commentTime}}</td>
                    <td>
                      <!-- (click)="ModalEdit($event, item)" -->
                    <button  class="btn btn-success btn-sm" (click)="edit(comment)" >Edit
                      <i class="fas fa-edit"></i>
                    </button>
                    <!-- (click)="openModalDelete(item)" -->
                    <button  class="btn btn-danger btn-sm" (click)="delete(comment)">Del
                      <i class="fas fa-trash"></i>
                    </button>
                    <!-- <button  [routerLink]="['/comment',comment.commentId]"  class="btn btn-success btn-sm"
                     >Comment
                      <i class="fas fa-edit"></i>
                    </button> -->
                   
      
                  </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center py-4 my-4" *ngIf="comments.length == 0">
            <h4 class="py-4">NoComments</h4>
         </div>
    </div>
</div>  

<div class="form-body">
    <form [formGroup]="myForm" (ngSubmit)="CreateData()" >
        <div class="form-group">
            <label for="commentDetails">Comment </label>
            <input id="commentDetails" type="text" class="form-control" formControlName="commentDetails">
            <div *ngIf="commentDetails?.touched && commentDetails?.invalid" class="alert alert-danger">
                <div *ngIf="commentDetails?.hasError('required')" >Comment Is Required </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary"  [disabled]="myForm.invalid"  type="submit" style="margin-top:10px;margin-bottom: 10px;" >Comment</button>
        </div>


    </form>
</div>